@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,600;1,400&display=swap');

.App {
	font-family: 'Cormorant Garamond', serif;
}

.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

.stars {
	color: #dadada;
}

.stars:hover {
	color: #000000;
	transition: 400ms ease-in-out;
}

.ghibli-logo {
	width: 300px;
	height: auto;
}

.tagline {
	padding-top: 4rem;
}

.list-view {
	background-color: #dadada;
	border: 1px solid #f0f0f0;
	border-radius: 15px;
	float: right;
	margin-right: 10rem;
}

.list-view:hover {
	background-color: darkgray;
	transition: 300ms ease-in-out;
}

.films {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 10px;
}

.films-post-it {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 10px;
}

.films-li-post-it {
	padding: 3rem;
	list-style-type: none;
	width: 150px;
	background-image: url('images/newPostIt1.png');
	background-repeat: no-repeat;
	background-size: 230px auto;
	background-position: 50% 50%;
}

.films-li-post-it:hover {
	padding: 3rem;
	list-style-type: none;
	width: 150px;
	background-image: url('images/newPostIt.png');
	background-repeat: no-repeat;
	background-size: 230px auto;
	background-position: 50% 50%;
}

.films-li {
	padding: 0px 0px 30px 0px;
	list-style-type: none;
	min-width: 150px;
	line-height: 1em;
}

.results-text {
	color: #282c34c6;
}

.results-text:hover {
	color: #000000;
	transition: 200ms ease-in-out;
}

.search-bar {
	font-family: 'Cormorant Garamond', serif;
}

.list-container {
	margin-left: 3em;
	margin-right: 3em;
}

@media only screen and (min-width: 1200px) {
	.films {
		margin: 0px 100px 0px 100px;
	}
}
