@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,600;1,400&display=swap');

.App {
  font-family: 'Cormorant Garamond', serif;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.stars {
  color: #dadada;
}

.stars:hover {
  color: #000000;
  transition: 400ms ease-in-out;
}

.ghibli-logo {
  width: 300px;
  height: auto;
}

.tagline {
  padding-top: 4rem;
}

.films {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
}

.films li {
  padding: 3rem;
  list-style-type: none;
  width: 150px;
  background-image: url('images/newPostIt.png');
  background-repeat: no-repeat;
  background-size: 230px auto;
  background-position: 50% 50%;
}

.results-text{
  color: #282c34c6;
}

.results-text:hover {
  color: #000000;
  transition: 200ms ease-in-out;
}

.search-bar {
  font-family: 'Cormorant Garamond', serif;
}

